# Dependencies
node_modules/
jspm_packages/
web_modules/

# Next.js build output
.next/
out/
build/
dist/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environments & private secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# System Files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDEs
.idea/
.vscode/
.project
.classpath
.settings/

# OS cache
ehthumbs.db
Icon?
